<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=210mm, height=297mm">
    <link href="templates/cols.css" rel="stylesheet"/>

</head>
<body>
<header>

    <div class="identity">
        <b id="last_name"></b>
        <b id="first_name"></b>
    </div>

    <div class="job">
        <b id="company"></b>
        <b id="position"></b>
    </div>

    <div class="about-me">
        <div class="contact"><b class="title" id="title1">CONTACT</b>
            <ul class="left_ul">
                <li class="left_li" id="number"></li>
                <li class="left_li" id="mail"></li>
                <li class="left_li" id="address"></li>
                <li><a href="" id="link" target="_blank"></a></li>
            </ul>
        </div>

        <div class="skills"><b class="title" id="title2">COMPÉTENCES</b>
            <ul class="left_ul">
                <li class="left_li" id="skill1"></li>
                <li class="left_li" id="skill2"></li>
                <li class="left_li" id="skill3"></li>
                <li class="left_li" id="skill4"></li>
                <li class="left_li" id="skill5"></li>
                <li class="left_li" id="skill6"></li>
                <li class="left_li" id="skill7"></li>
                <li class="left_li" id="skill8"></li>
            </ul>
        </div>

        <div class="languages"><b class="title" id="title3">LANGUES</b>
            <ul class="left_ul">
                <li class="left_li" id="lang1"></li>
                <li class="left_li" id="lang2"></li>
                <li class="left_li" id="lang3"></li>
            </ul>
        </div>

        <div class="certifications"><b class="title" id="title4">CERTIFICATIONS</b>
            <ul class="left_ul">
                <li class="left_li"><a href="" id="certif1" target="_blank"></a></li>
                <li class="left_li"><a href="" id="certif2" target="_blank"></a></li>
                <li class="left_li"><a href="" id="certif3" target="_blank"></a></li>
                <li class="left_li"><a href="" id="certif4" target="_blank"></a></li>
                <li class="left_li"><a href="" id="certif5" target="_blank"></a></li>
            </ul>
        </div>

        <div id="hobbies"><b class="title" id="title5">HOBBIES</b>
            <ul class="left_ul">
                <li class="left_li" id="hobby1"></li>
                <li class="left_li" id="hobby2"></li>
            </ul>
        </div>
    </div>

    <div class="xp">
        <div class="experiences"><img src="https://icon-library.com/images/briefcase-icon-png/briefcase-icon-png-2.jpg" alt="briefcase icon" id="first_image">
            <b class="title_right" id="title6">EXPERIENCES</b>
            <b class="position" id="xp_position1"></b>
            <label class="company" id="xp_company1"></label>
            <p id="xp_description1"></p>

            <b class="position" id="xp_position2"></b>
            <label class="company" id="xp_company2"></label>
            <p id="xp_description2"></p>
        </div>

        <div class="projets"><img src="https://icon-library.com/images/computer-monitor-icon-png/computer-monitor-icon-png-13.jpg" alt="monitor icon">
            <b class="title_right" id="title7">PROJETS</b>
            <ul>
                <li><strong id="project_title1"></strong>
                    <p id="project_description1"></p></li>
                <li><strong id="project_title2"></strong>
                    <p id="project_description2"></p></li>
                <li><strong id="project_title3"></strong>
                    <p id="project_description3"></p></li>
            </ul>
        </div>

        <div class="education"><img src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Business-Graduation-Cap-icon.png" alt="graduation hat icon">
        <b class="title_right" id="title8">FORMATION</b>
            <ul>
                <li><strong id="diploma_name1"></strong>
                    <p id="diploma_location1"></p></li>
                <li><strong id="diploma_name2"></strong>
                    <p id="diploma_location2"></p></li>
                <li><strong id="diploma_name3"></strong>
                    <p id="diploma_location3"></p></li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>

