<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=210mm, height=297mm">
    <link href="templates/rows.css" rel="stylesheet"/>
</head>
<body>
<header>

    <div class="top">
        <div class="name">

            <b id="first_name"></b>
            <b id="last_name"></b>
        </div>
        <div class="about-job">
            <b id="position"></b>
            <b>-</b>
            <b id="company"></b>

        </div>
        <div class="contact">
            <label id="mail"></label>
            <label id="number"></label>
            <label id="address"></label>
        </div>
        <div class="find-me">
            <label><a href="" id="link_1" target="_blank"></a></label>
            <label><a href="" id="link_2" target="_blank">linkedin/user_name</a></label>

        </div>
    </div>

    <div class="line"><b id="title3"></b>
    </div>

    <div class="languages">
        <label id="lang1"></label>
        <label id="lang2"></label>
        <label id="lang3"></label>
    </div>


    <div class="line"><b id="title2">Compétences</b>
    </div>

    <div class="skills">
        <div class="skills-child">
            <ul class="left_ul">
                <li id="skill1"></li>
                <li id="skill2"></li>
                <li id="skill3"></li>
                <li id="skill4"></li>
            </ul>
        </div>
        <div class="skills-child">
            <ul class="right_ul">
                <li id="skill5"></li>
                <li id="skill6"></li>
                <li id="skill7"></li>
                <li id="skill8"></li>
            </ul>
        </div>
    </div>

    <div class="line"><b id="title6">Experience</b>
    </div>

    <div class="experiences">
        <b class="position" id="xp_position1"></b>
        <label class="company" id="xp_company1"></label>
        <p id="xp_description1"></p>

        <b class="position" id="xp_position2">e</b>
        <label class="company" id="xp_company2"></label>
        <p id="xp_description2"></p>
    </div>

    <div class="line"><b id="title7">Projets</b>
    </div>

    <div class="projets">
        <div class="projets-child">
            <ul>
                <li><strong id="project_title1"></strong>
                    <p id="project_description1"></p></li>
                <li><strong id="project_title2"></strong>
                    <p id="project_description2"></p></li>
            </ul>
        </div>
        <div class="projets-child">
            <ul>
                <li><strong id="project_title3"></strong>
                    <p id="project_description3"></p></li>
                <li><strong id="project_title4"></strong>
                    <p id="project_description4"></p></li>
            </ul>
        </div>

    </div>


    <div class="line"><b id="title4">CERTIFICATIONS</b>
    </div>

    <div class="certifications">
        <div class="certifications-child">
            <ul>
                <li><a href="" id="certif1" target="_blank"></a></li>
                <li><a href="" id="certif2" target="_blank"></a></li>
                <li><a href="" id="certif3" target="_blank"></a></li>
            </ul>
        </div>

        <div class="certifications-child">
            <ul>
                <li><a href="" id="certif4" target="_blank"></a></li>
                <li><a href="" id="certif5" target="_blank"></a></li>
                <li><a href="" id="certif6" target="_blank"></a></li>
            </ul>
        </div>

    </div>

    <div class="line"><b id="title8">Formation</b>
    </div>

    <div class="education">
        <ul>
            <li>
                <span id="diploma_name1"><strong></strong></span>
                <span class="diploma_location" id="diploma_location1"></span>
            </li>
            <li>
                <span id="diploma_name2"><strong></strong></span>
                <span class="diploma_location" id="diploma_location2"></span>
            </li>
            <li>
                <span id="diploma_name3"><strong></strong></span>
                <span class="diploma_location" id="diploma_location3"></span>
            </li>
        </ul>
    </div>

    <div class="line"><b id="title5">Hobbies</b>
    </div>

    <div class="hobbies">
        <label id="hobby1"></label>
        <label id="hobby2"></label>
    </div>

</header>
</body>
