<!DOCTYPE html>
<html lang="fr">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=210mm, height=297mm" name="viewport"/>
  <link href="C:/Users/tomky/Documents/PycharmProjects/cv_generator/templates/cols.css" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <div class="identity">
    <b id="last_name">
     Sequedo Bootello
    </b>
    <b id="first_name">
     Valerio Q.
    </b>
   </div>
   <div class="job">
    <b id="company">
     FANCY COMPANY NAME IN BARCELONA
    </b>
    <b id="position">
     DATA GUY
    </b>
   </div>
   <div class="about-me">
    <div class="contact">
     <b class="title" id="title1">
      CONTACT
     </b>
     <ul class="left_ul">
      <li class="left_li" id="number">
       +502(030)-0728739
      </li>
      <li class="left_li" id="mail">
       ipbootello15@yopmail.com
      </li>
      <li class="left_li" id="address">
       Quiché, Guatemala
      </li>
      <li>
       <a href="" id="link" target="_blank">
        https://datafakegenerator.com/fr/generador
       </a>
      </li>
     </ul>
    </div>
    <div class="skills">
     <b class="title" id="title2">
      COMPÉTENCES
     </b>
     <ul class="left_ul">
      <li class="left_li" id="skill1">
       Programmation
      </li>
      <li class="left_li" id="skill2">
       Base de données
      </li>
      <li class="left_li" id="skill3">
       Intelligence artificielle
      </li>
      <li class="left_li" id="skill4">
       Pack office
      </li>
      <li class="left_li" id="skill5">
       MlOps
      </li>
      <li class="left_li" id="skill6">
       git
      </li>
      <li class="left_li" id="skill7">
       agile
      </li>
      <li class="left_li" id="skill8">
       Prompt engineering
      </li>
     </ul>
    </div>
    <div class="languages">
     <b class="title" id="title3">
      LANGUES
     </b>
     <ul class="left_ul">
      <li class="left_li" id="lang1">
       Espagnol (natif)
      </li>
      <li class="left_li" id="lang2">
       Anglais (C1)
      </li>
      <li class="left_li" id="lang3">
       Français (C1)
      </li>
     </ul>
    </div>
    <div class="certifications">
     <b class="title" id="title4">
      CERTIFICATIONS
     </b>
     <ul class="left_ul">
      <li class="left_li">
       <a href="https://www.coursera.org/account/accomplishments/" id="certif1" target="_blank">
        IBM AI Engineering
       </a>
      </li>
      <li class="left_li">
       <a href="" id="certif2" target="_blank">
        Hugging Face deep reinforcement learning
       </a>
      </li>
      <li class="left_li">
       <a href="https://www.freecodecamp.org/certification/" id="certif3" target="_blank">
        Machine learning with python
       </a>
      </li>
      <li class="left_li">
       <a href="https://graphacademy.neo4j.com/" id="certif4" target="_blank">
        Neo4j certified profesionnal
       </a>
      </li>
      <li class="left_li">
       <a href="https://www.freecodecamp.org/certification/" id="certif5" target="_blank">
        Data analysing with python
       </a>
      </li>
     </ul>
    </div>
    <div id="hobbies">
     <b class="title" id="title5">
      HOBBIES
     </b>
     <ul class="left_ul">
      <li class="left_li" id="hobby1">
       Pâtisserie
      </li>
      <li class="left_li" id="hobby2">
       Lecture (philosophie)
      </li>
     </ul>
    </div>
   </div>
   <div class="xp">
    <div class="experiences">
     <img alt="briefcase icon" id="first_image" src="https://icon-library.com/images/briefcase-icon-png/briefcase-icon-png-2.jpg"/>
     <b class="title_right" id="title6">
      EXPERIENCES
     </b>
     <b class="position" id="xp_position1">
      Data scientist | Année
     </b>
     <label class="company" id="xp_company1">
      Guugle
     </label>
     <p id="xp_description1">
      <ul class="missions">
       <li class="missions">
        Création d'un algorithme de recommandation pour un célèbre site de vidéos.
       </li>
       <li class="missions">
        Dashboard de l'évolution des performances de nos modèles d'ia.
       </li>
       <li class="missions">
        Veille bibliographique des dernières avancées dans le domaine.
       </li>
       <li class="missions">
        Annotation de données pour nourrir les modèles.
       </li>
      </ul>
     </p>
     <b class="position" id="xp_position2">
      Developpeur | Année
     </b>
     <label class="company" id="xp_company2">
      Macrosoft
     </label>
     <p id="xp_description2">
      <ul class="missions">
       <li class="missions">
        Création de sites web.
       </li>
       <li class="missions">
        Mise en prod.
       </li>
       <li class="missions">
        QA testing.
       </li>
       <li class="missions">
        Pause café
       </li>
      </ul>
     </p>
    </div>
    <div class="projets">
     <img alt="monitor icon" src="https://icon-library.com/images/computer-monitor-icon-png/computer-monitor-icon-png-13.jpg"/>
     <b class="title_right" id="title7">
      PROJETS
     </b>
     <ul>
      <li>
       <strong id="project_title1">
        Assistant virtuel
       </strong>
       <p id="project_description1">
        Réalisation d'un assistant textuel/vocal automatisant certaines tâches. NLP, speech recognition
       </p>
      </li>
      <li>
       <strong id="project_title2">
        Scoring
       </strong>
       <p id="project_description2">
        Construction d'un score d’octroi de crédit pour les clients de Renault (nettoyage des données, comparaison de modèles, optimisation du modèle choisi)
       </p>
      </li>
      <li>
       <strong id="project_title3">
        Retranscription
       </strong>
       <p id="project_description3">
        Combinaison d’un modèle de diarisation et speech2text pour transcription automatique + analyse linguistique dans le cadre d’entretiens.
       </p>
      </li>
     </ul>
    </div>
    <div class="education">
     <img alt="graduation hat icon" src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Business-Graduation-Cap-icon.png"/>
     <b class="title_right" id="title8">
      FORMATION
     </b>
     <ul>
      <li>
       <strong id="diploma_name1">
        2000 Diplome 3
       </strong>
       <p id="diploma_location1">
        Université de Guatemala
       </p>
      </li>
      <li>
       <strong id="diploma_name2">
        1999 Diplome 2
       </strong>
       <p id="diploma_location2">
        Université de Guatemala
       </p>
      </li>
      <li>
       <strong id="diploma_name3">
        1999 Diplome 1
       </strong>
       <p id="diploma_location3">
        Université de Guatemala
       </p>
      </li>
     </ul>
    </div>
   </div>
  </header>
 </body>
</html>
